
@font-face {
    font-family: "Oswald-Regular";
    src: url('../fonts/Oswald/Oswald-Regular.eot') format('eot');
    src: local('Oswald'),
    url('../fonts/Oswald/Oswald-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Oswald/Oswald-Regular.ttf') format('truetype'),
    url('../fonts/Oswald/Oswald-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Arial";
    src: url('../fonts/Arial/Arial.eot') format('eot');
    src: local('Arial MT'),
    url('../fonts/Arial/Arial.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Arial/Arial.ttf') format('truetype'),
    url('../fonts/Arial/ArialMT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    min-width:@body-width;
    font-size:@body-size;
    font-family: @font-oswald;
    line-height: 18px;
    font-style: normal;
    .clear();
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    padding: 0px 20px;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

@media (min-width: @tablet-width) {
    .container {
        max-width: 768px;
        padding: 0px 55px;
    }
}

@media (min-width: @desktop-width) {
    .container {
        max-width: 1223px;
        padding: 0px 120px;
    }
}


